*.pyc
__pycache__/
*.so
*.egg
*.egg-info/
dist/
build/
.venv/
venv/
.env
.cache/
.mypy_cache/
.pytest_cache/
.DS_Store
.idea/
.vscode/
.python-version
pip-log.txt
.coverage
/releases/
pip-wheel-metadata/
poetry.lock
server.log
*.wav
*.mp3
*.ogg
*.flac
/test.py
/test_*.*
